<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      App personal de José Valencia Cruz
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-img src="../../assets/Yotrofeo.jpg">
  </ion-img>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Desarrollador de software
      </ion-card-title>
      <ion-card-subtitle>
         Profesor Universitario
      </ion-card-subtitle>
    </ion-card-header> 
    <ion-card-content>
      <p>
        Ingeniero en Sistemas Comp. Por el ITVH, Maestro en 
        ingeniería y desarrollo de Software Por el Colegio de 
        Posgrado en desarrollo de software de Puebla, Maestro 
        en Sistemas de información por el Instituto Rosenblueth
        Profesor de Tiempo Completo, desarrollador de apps y 
        websites, Americanista, scousser, ajedrecista y gamer.
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>
