<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Acerca de este proyecto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Acerca de este proyecto</ion-card-title>
      <ion-card-subtitle>My First Ionic App</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
  <p>
      Proyecto desarrollado con fines académicos en la materia de desarrollo de aplicaciones
      móviles, de la carrera de Ingeniería informática del TecNM Campus Región Sierra.
  </p>
    <br>
    <p>
      La finalidad de este proyecto es mostrar las funcionalidades básicas de Ionic
      y Angular, para el desarrollo de aplicaciones móviles.
    </p>
    <p>
      En este proyecto se ha utilizado el framework Ionic, que es un framework de código
      abierto que permite desarrollar aplicaciones móviles híbridas, es decir, aplicaciones
      que se ejecutan en un navegador web, pero que se comportan como aplicaciones nativas.
    </p>
    </ion-card-content>
  </ion-card>
</ion-content>
